@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0 0% 3.9%;
  --background: 0 0% 100%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 0 0% 98%;
    --background: 0 0% 3.9%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}
